@font-face {
    font-family: 'Tiresias Infofont';
    src: url(./assets/font/tiresias_infofont-webfont.woff) format('woff'),
         url(./assets/font/tiresias_infofont-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tiresias Infofont';
    src: url(./assets/font/tiresias_infofont_italic-webfont.woff) format('woff'),
         url(./assets/font/tiresias_infofont_italic-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
}

* {
    font-family: 'Tiresias Infofont';
}

body {
    margin: 0;
    padding: 0;
    background: #1c1c1c;
}

h1 {
    margin: 0;
    padding: 2.5vh;
    font-size: 8vw;
    color: #fffef8;
}

label {
    color: #fffef8;
}

div label {
    font-size: 3vw;
}

input {
    padding: 0 10px;
    border-radius: 15px;
    background: #fffef8;
    border: 0.4vw solid #1c1c1c;
}

::placeholder {
    color: #1c1c1c99;
}

input[type="checkbox"] {
    margin: 0;
    padding: 0;
}

button {
    text-transform: uppercase;
    border-radius: 15px;
    background: #212121;
    border: 0.4vw solid #fffef8;
    color: #fffef8;
    user-select: none;
}

button:hover {
    cursor: pointer;
    background: #fffef8;
    color: #212121;
}

ul {
    padding-inline-start: 0;
    list-style-type: none;
}

li {
    height: 8.5vh;
    width: 100vw;
    background: #1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background: #1c1c1c88;
    cursor: pointer;
}

ul li:nth-child(odd) {
    background: #2a2a2a;
    cursor: pointer;
}

ul li:nth-child(odd):hover {
    background: #2a2a2a88;
}

#done-list li label {
    text-decoration: line-through black double 0.4vh;
}

.title {
    position: sticky;
    width: 100vw;
    top: 0;
    background: #1c1c1c;
    box-shadow: 0 1vh 5px #000;
    text-align: center;
}

.add-task {
    width: 100vw;
    margin: 3vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task input {
    height: 3.5vh;
    width: 55vw;
    margin: 0 2vw;
}

.insert-text {
    user-select: none;
    font-size: 8vw;
}

.insert-text:hover {
    cursor: pointer;
    text-shadow: -0.25vw 0.25vw #fffef8, -0.25vw -0.25vw #fffef8, 0.25vw 0.25vw #fffef8, 0.25vw -0.25vw #fffef8;
    color: #212121;
}

.item-first, .item-last {
    height: inherit;
    display: flex;
    align-items: center;
}

.item-last {
    margin: 0 2.5vw 0 0;
}

input[type="checkbox"] {
    cursor: pointer;
    height: 4.5vh;
    width: 4.5vh;
    margin: 0 2.5vw !important;
}

.show {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


input.editOff {
    display: none;
}

label.editOff {
    display: inline-block;
}

button[id^="cancelEdit_"].editOff {
    display: none;
}

input.editOn {
    all: unset;
    display: inline-block;
    font-size: 3vw;
    color: #fffef8c9;
    text-decoration: underline red;
}

label.editOn {
    display: none;
}

button[id^='btEdit_'].editOn {
    
}

button[id^='cancelEdit_'].editOn {
    display: inline-block;
}

button[id^='remove_'].editOn {
    display: none;
}

button[id^='remove_'].editOff {
    display: inline-block;
}

#done-list button[id^='btEdit_'] {
    display: none;
}

#done-list {
    display: none;
}